:root 
{
    --main-bg-color: #FFF9EB;
    --main-text-color: #333;
    --body-font: Arial, sans-serif;
    --header-font: Georgia, serif;
    --standard-padding: 1rem;
    --large-padding: 3rem;
}

body 
{
    font-family: var(--body-font);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: var(--large-padding);
    padding-right: var(--large-padding);
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0;
}

h1, .title 
{
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 2.5rem; /* Increased size */
    color: var(--main-text-color);
    margin-bottom: var(--standard-padding); /* Slightly more space below */
    line-height: 1.2; /* Adjust line height for better spacing */
}

#playlists 
{
    flex: 1;
    margin-right: 3rem; /* This creates spacing between columns, equivalent to about 80px */
}

#playlists h2 
{
    margin-top: 0; /* Removes default top margin from the Playlists header */
}

#playlists ul 
{
    list-style-type: none;
    padding-left: 0;
}

#playlists li 
{
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: black;  /* Ensure all list items are black by default */
    text-decoration: none;  /* Remove any default underline */
    font-style: normal;  /* Ensure normal font style by default */
    font-weight: normal;  /* Ensure normal font weight by default */
}

#playlists li:hover 
{
    text-decoration: underline;
}

#playlists li.selected 
{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    /* No need to specify color here as it will inherit the black from the default state */
}

#chart-container 
{
    flex: 2;
}

#chart 
{
    width: 100%;
    height: 600px; /* Adjust as needed */
}

.node 
{
    cursor: pointer;
}

.label 
{
    font-size: 12px;
    text-anchor: middle;
}


.header {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; 
    margin-bottom: 4rem; 
    margin-top: 2rem; /* Add margin to the top of the header */
}

.page-title {
    margin: 0; /* Remove default margin */
}

#chart rect {
    fill: attr(fill);
}

#logout-btn {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}

#logout-btn:hover {
    opacity: 0.9;
}
